---
import Layout from "../layouts/Layout.astro";
import { db } from "../lib/db";
import { readExcel, readTickets } from "../lib/files";

const internalUsers = await db.query.internalUsers.findMany({
  columns: {
    username: true,
  },
});

// Tickets not belonging to internal users
const tickets = (await readTickets()).filter(
  (ticket) => !internalUsers.some((int) => int.username === ticket.Username)
);

const scheduledActivities = readExcel().filter(
  (activity) => activity["Inlagt i driftsschema"] === "Ja"
);
---

<Layout>
  <header class="p-4 rounded bg-hkr flex justify-center items-center mb-8">
    <h1 class="text-5xl font-black text-gray-950">IT-DRIFT STATUS</h1>
  </header>
  <main class="grid lg:grid-cols-2 gap-8">
    <section class="ring-2 ring-hkr rounded">
      <h2 class="text-3xl p-4 font-bold bg-hkr text-gray-950">
        Pågående problem
      </h2>
      <div class="flex flex-col gap-4 p-4">
        {
          tickets.map((ticket) => (
            <div class="ring-2 ring-gray-950 p-2 rounded flex flex-col gap-2">
              <span class="text-xl font-semibold">{ticket.Title}</span>
              <p class="line-clamp-2 whitespace-pre-wrap">{ticket.Error}</p>
              <span class="text-sm text-gray-700">
                Öppnad: {ticket.Date.toLocaleDateString()}
              </span>
            </div>
          ))
        }
      </div>
    </section>
    <section class="ring-2 ring-hkr rounded">
      <h2 class="text-3xl font-bold bg-hkr text-gray-950 p-4">
        Planerade moment
      </h2>
      <div class="flex flex-col gap-4 p-4">
        {
          scheduledActivities.map((activity) => (
            <div class="ring-2 ring-gray-950 p-2 rounded flex flex-col gap-2">
              <div>
                <div class="text-xl font-semibold">{activity.Moment}</div>
                <div class="text-lg">
                  {activity["Påverkan av undervisning"]}
                </div>
              </div>
              <div class="flex items-center gap-4">
                <span class="text-sm text-gray-700">
                  Start: {activity.Start.toLocaleDateString()}
                </span>
                <span class="text-sm text-gray-700">
                  Slut: {activity.Stopp.toLocaleDateString()}
                </span>
              </div>
            </div>
          ))
        }
      </div>
    </section>
  </main>
</Layout>

<script>
  import.meta.env.PROD &&
    setTimeout(() => {
      window.location.reload();
    }, 15_000);
</script>
